
<div class="row">
  <div class="col-6">
    <h1 >All  Donors </h1>
  </div>
  <div class="col-6 d-flex justify-content-end">
    <a href="/adduser" type="button" class="btn btn-primary align-self-center" style="background-color: rgb(247, 56, 56); ;border:2px solid rgb(255, 254, 254); color:black"><b>+ Add Donors</b></a>
  </div>
</div><br>